<% @jobs.each do |job| %>
  <dl>
    <dt><h1><%= link_to job.title, job %></h1></dt>
    <dt>Empresa:</dt>
    <dd><%= job.company.name %></dd>
    <dt>Localização:</dt>
    <dd><%= job.location %></dd>
  </dl>
  <% if job.featured? %>
    <dd><strong> Vaga em Destaque </strong><dd>
  <% end %>
<% end %>

<h1>Empresas:</h1>
<% @companies.each do |company| %>
<p><%= link_to company.name, company %></p>
<% end %>
