<% @jobs.each do |job| %>
<dl>
  <dt><h1><%= link_to job.title, job %></h1></dt>
  <dt>Empresa:</dt>
  <dd><%= job.company %></dd>
  <dt>Localização:</dt>
  <dd><%= job.location %></dd>
</dl>
<% end %>
